OSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=smartfactory
POSTGRES_USER=smartfactory
POSTGRES_PASSWORD=smartfactory

DATABASE_URL=postgresql+psycopg://smartfactory:smartfactory@localhost:5432/smartfactory